body {
  background-image: url('/static/StartScreen/img/startScreenBackground.png');
  background-size: cover;
}

/* navbar styling */
nav {
  background-color: #333;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-top: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* left side of navbar */
.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar-left a {
  color: #f0d9b5;
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin: 0 2rem;
}

.navbar-left a:hover {
  color: #666;
}

/* right side of navbar */
.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  margin-left: -50px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #f0d9b5;
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  border: 1px solid #f0d9b5;
}

.dropdown-content a {
  color: #f0d9b5;
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #666;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
  }

  .navbar-left, .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-left a, .navbar-right a {
    font-size: 1.2rem;
    margin: 0.5rem;
  }
}
