<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'StartScreen/css/startScreenLobby.css'%}">
</head>
<body>
  <!-- Add navbar at the top -->
<nav>
  <div class="navbar-left">
    <a href="/">Home</a>
    <a href="/playWukong/1">Play Wukong</a>
    <a href="/playPlayer/1">Play Player</a>
    <a href="#">About</a>
  </div>
  <div class="navbar-right">
    <a href="#">Login</a>
  </div>
</nav>


  <script src="script.js"></script>
</body>
</html>